PORT=3001
PUBLIC_URL=http://localhost:5173
CLIENT_ORIGIN=http://localhost:5173
VITE_SIGNALING_URL=http://localhost:3001
CLOUDFLARE_TURN_KEY_ID=
CLOUDFLARE_TURN_API_TOKEN=
CLOUDFLARE_TURN_TTL_SECONDS=86400
